/**
* Theme Name: Customizr
* Theme URI: http://presscustomizr.com/customizr
* Description: Customizr is a versatile and easy to customize WordPress theme, instantly giving a professional look to your online presence. Designed with visitor engagement in mind, it allows anyone to create a beautiful, fast and mobile friendly website compatible with all browsers and devices. Customizr works fine with major WordPress plugins like WooCommerce, bbPress, JetPack and many others. Top rated by hundreds and with a very active community of users and developers, the Customizr theme is a safe and reliable design option to publish your WordPress content.
* Version: 3.4.14
* Author: nikeo
* Author URI: http://presscustomizr.com/
* Tags: gray, white, light, blue, red, yellow, green, purple, orange, black, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fluid-layout, responsive-layout, custom-menu, custom-colors, featured-images, full-width-template, theme-options, threaded-comments, translation-ready, sticky-post, post-formats, rtl-language-support, editor-style
* Text Domain: customizr
* Copyright: (c) 2015 Nicolas GUILLAUME (nikeo), Nice, France
* License: GNU General Public License v2.0 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/**
* The styleheets of Customizr are located in inc/assets/css. Each skin has its own stylesheet : blue.css, green.css, ...
* The current stylesheet is loaded after the main skin stylesheet.
*
* IMPORTANT : If you write your CSS code below, it will be deleted when you'll update the theme.
* If you want to make quick style test / changes, consider using the Custom CSS section in appearance > customize > advanced options > Custom CSS, it will persist on update since it is saved in your database.
* To make important CSS customizations, you'll want to use a child theme and add your css code in the style.css file of it.
*/
.google-translate{
    background-color: red;
    width: 5%;
    float:right;
    position: absolute;
    z-index: 999;

}
.header-menu-new{
    width: 95%;
    float:left;
    margin-left: 5em;
}
.header-new {
}
.widget-title{
    text-align: left;
    border:2px solid;
    border-color: rgba(179, 113, 193, 0.16);
}
/*
.container{
    width: auto;
}
.span6 {
        width: 750px;
}
*/